@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.5/dist/web/static/pretendard.css");

/* base & common */

html {
  font-family: "pretendard", sans-serif;
  font-size: 16px;
  word-break: keep-all;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  max-width: 720px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  margin: 0;
  line-height: 1.2;
}

p {
  font-weight: 400;
  margin: 0;
  line-height: 1;
}

h1 {
  font-size: 3rem;
  margin: 3rem 0;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  color: #5abfb7;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1rem;
}

p {
  font-size: 1rem;
}

a {
  color: gray;
  text-decoration: underline;
}

ul {
  margin: 1rem 0;
}

li {
  line-height: 1.5;
  margin: 0.5rem;
}

li::marker {
  color: #5abfb7;
}

div[role="contentinfo"] {
  display: flex;
  flex-direction: column;
  margin: 4rem 0;
}

.border__width {
  width: 100%;
  height: 0px;
  border-bottom: 1px solid gray;
}

/* contect */

.contect__text {
  display: flex;
  flex-direction: column;
}

.contect__text p {
  font-size: 1.3rem;
  margin: 0.5rem 0;
}

.introduce p {
  font-size: 1.3rem;
  line-height: 1.3;
  margin: 0.5rem 0;
}

/* Skill */

.rowbox {
  display: flex;
  flex-direction: row;
  margin: 1rem 0;
}

.rowbox__name {
  min-width: 30%;
}

.rowbox__context {
  min-width: 70%;
  height: 100%;
}

.rowbox__context label {
  font-weight: 700;
  font-size: 1.2rem;
}

/* Project */

.rowbox__name {
  font-size: 1.2rem;
  line-height: 1.3;
  font-weight: 700;
}

.project__box h4 {
  margin: 1rem 0;
}

.project__box p {
  line-height: 1.3;
  margin: 1rem 0;
}

.education p {
  line-height: 1.3;
  margin-bottom: 1.5rem;
}

@media (max-width: 720px) {
  html {
    font-size: 12px;
  }
  body {
    margin: auto 2rem;
  }
}

@media (max-width: 375px) {
  .rowbox {
    flex-direction: column;
  }
  .rowbox__name {
    margin-bottom: 2rem;
  }
}
