@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.5/dist/web/static/pretendard.css");

/* base & common */

html {
  font-family: "pretendard", sans-serif;
  font-size: 16px;
  word-break: keep-all;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  max-width: 720px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  margin: 0;
  line-height: 1.2;
}

p {
  font-weight: 400;
  margin: 0;
  line-height: 1;
}

h1 {
  font-size: 3rem;
  margin: 3rem 0;
  max-width: 540px;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  color: #5abfb7;
}

h4,
label {
  font-size: 1.5rem;
}

h5 {
  font-size: 1rem;
}

p {
  font-size: 1rem;
}

a {
  color: gray;
  text-decoration: underline;
}

ul {
  margin: 1rem 0;
}

li {
  line-height: 1.5;
  margin: 0.5rem;
}

li::marker {
  color: #5abfb7;
}

div[role="contentinfo"] {
  display: flex;
  flex-direction: column;
  margin: 3rem 0;
}

.border__width {
  width: 100%;
  height: 0px;
  border-bottom: 1px solid gray;
}

/* contect */

.contact {
  display: flex;
  flex-direction: row !important;
  gap: 3rem;
}

.contect__image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  overflow: hidden;
}

.contect__image img {
  width: 100%;
}

.contect__text {
  display: flex;
  flex-direction: column;
  width: calc(100% -20rem);
}

.contect__text p {
  font-size: 1.3rem;
  margin: 0.5rem 0;
}

.introduce p {
  font-size: 1.3rem;
  line-height: 1.3;
  margin: 0.5rem 0;
}

/* Skill */

.rowbox {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin: 1rem 0;
}

.rowbox__name {
  min-width: 30%;
}

.rowbox__context {
  min-width: 70%;
  height: 100%;
}

.rowbox__context label {
  font-weight: 700;
}

/* Project */

.rowbox__name {
  font-size: 1.4rem;
  line-height: 1.3;
  font-weight: 700;
}

.project__box h4 {
  margin: 1rem 0;
}

.project__box p {
  line-height: 1.3;
  margin: 1rem 0;
}

.project__techStack,
.project__activity,
.project__activity__last {
  margin-bottom: 2rem;
}

/* education */

.education {
  display: flex;
  align-items: flex-start;
  width: 100%;
}

.education p {
  line-height: 1.3;
  margin-bottom: 1.5rem;
}

@media (max-width: 720px) {
  html {
    font-size: 14px;
  }
  body {
    margin: auto 2rem;
  }
  .contact {
    display: flex;
    flex-direction: column !important;
    gap: 3rem;
  }
  .contect__image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    overflow: hidden;
    margin: auto;
  }

  .contect__image img {
    width: 100%;
  }
  .rowbox {
    flex-direction: column;
  }
  .rowbox__name {
    margin-bottom: 2rem;
    font-size: 1.5rem;
  }
  .rowbox__context__stack {
    margin: 1rem 0 3rem 0 !important;
  }
  .project ul {
    margin-bottom: 3rem;
  }
  p,
  li {
    font-size: 1.3rem;
  }
}

@media (max-width: 480px) {
  html {
    font-size: 12px;
  }
  .rowbox__name {
    margin-bottom: 1.5rem;
  }
}

@page {
  size: A4;
  margin: 0;
}

@media print {
  html {
    font-size: 12px;
  }
  body {
    margin: auto 4rem;
  }
  .contact {
    display: flex;
    flex-direction: row !important;
    gap: 2rem;
  }
  .contect__image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    overflow: hidden;
    margin: auto 4rem auto 1rem;
  }

  .contect__image img {
    width: 100%;
  }
  .rowbox {
    flex-direction: row;
  }
  .rowbox__name {
    margin-bottom: 2rem;
    font-size: 1.5rem;
  }
  .rowbox__context__stack {
    margin: 1rem 0 3rem 0 !important;
  }
  .project ul {
    margin-bottom: 3rem;
  }
  p,
  li {
    font-size: 1.3rem;
  }
}
